doctype html
html
    head
        title ASM Generator
        link(href='/static/css/default.css', rel='stylesheet')
        link(href='/static/codemirror/codemirror.css', rel='stylesheet')
        link(href='https://unpkg.com/purecss@0.6.2/build/pure-min.css' 
            rel='stylesheet'
            integrity='sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD'
            crossorigin='anonymous')
    body
        h1 ASM Generator <a class="github-button" href="https://github.com/ChannelOne/asm-gen-web/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/ChannelOne/asm-gen-web/network" data-count-api="/repos/ChannelOne/asm-gen-web#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork ChannelOne/asm-gen-web on GitHub">Fork</a>

        p 这是一个C语言到汇编语言的生成器，输入完整的C语言程序后，点击Convert按钮，开始转换

        .pure-g#content

            .pure-u-1-2#input-container
                h2 Input area
                textarea#code-input
                br
                button.pure-button#convert-button Convert

            .pure-u-1-2#output-container
                h2 Output area
                textarea#output-area
        
        div
            pre#error-pad

        br
        div
            small Copyright 2017. 计算机科学4班 DZ Chan
        br
        br

        script(src='/static/codemirror/codemirror.js')
        script(src='/static/mode/clike/clike.js')
        script(src='/static/js/client.js')
        script(async defer src="https://buttons.github.io/buttons.js")
